body{
    background: black;
}

#add-search{
    background-image: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 50%, rgb(153, 51, 255) 100%);
    color: black;
    border: 2px solid #4CAF50; /* Green */
}

input[type=text] {
    width: 10%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#header{
    background-color: green;
    height: 10%;
}

#buttons-container{
    background-color: red;
}

#search-view{
    background-color: blue;
}

#footer{
    background-color: yellow;
    height: 10%;
}